/*
===============================================================================
# Project: Gen-IA
# Website: Minimal welcome website
===============================================================================

## GENiALABILE
Advanced-GPT inspiring multidimensional solutions and unlocking creative potential.

-------------------------------------------------------------------------------
## License
© 2025 GENiALABILE. All Rights Reserved.
A GPT-Based Project — Designed by seiseisette.
Repository: https://github.com/seiseisette/
This project is no longer available as open-source. Updated: 10 Jan 2025.
Use, distribution, or modification of this project is strictly prohibited without prior written authorization.
-------------------------------------------------------------------------------

# Version: v3.2 (190125)  ! No changeLog for it !
# URL: https://genialabile.com/assets/styles/animations/compiler.css
===============================================================================
*\

/* --- Typing Effect --- */

#typing-container {
width: 100%;
max-width: 1200px; /* Limits the container width */
height: 100vh; /* Makes the container fill the full viewport height */
display: flex; /* Enables flexbox for alignment */
justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically */
margin: 0 auto;
padding: var(--spacing); /* Keeps the padding for spacing consistency */
box-sizing: border-box;
text-align: left; /* Ensures text alignment is always to the left */
transform: translateY(-30%); /* Moves the content 30% upwards */
/* Change added for vertical adjustment */
}

/* Style1 Default Effect */
#typing-effect {
font-family: var(--mtx-font);
color: var(--compiler1-color);
font-size: 1.5rem;
line-height: 2rem;
white-space: pre-wrap;
overflow: hidden;
}

#typing-effect::after {
content: "█";
font-family: var(--mtx-font);
color: var(--compiler1-color);
text-align: left; /* Ensures text alignment is always to the left */
animation: blink 1s steps(1) infinite;
line-height: 2rem;
}

/* Style2 Alternate Effect */
#typing-effect.alternate-style {
font-family: var(--std-font); /* Override */
color: var(--compiler2-color); /* White text color */
}

.alternate-style {
font-family: var(--std-font) !important; 
color: var(--compiler2-color) !important; 
line-height: 2rem !important;
}

.alternate-style::after {
content: "" !important;
font-family: var(--std-font) !important;
color: var(--bg-color) !important; 
animation: blink-fast 0.5s steps(1) infinite !important;
line-height: 2rem !important;
}

.no-cursor::after {
content: "";
animation: none;
}

/* Keyframes for blinking effects */
@keyframes blink {
50% {
    opacity: 0;
}
}

@keyframes blink-fast {
50% {
    opacity: 0;
}
}

