/*
===============================================================================
# Project: Gen-IA
# Website: Minimal welcome website
===============================================================================

## GENiALABILE
Advanced-GPT inspiring multidimensional solutions and unlocking creative potential.

-------------------------------------------------------------------------------
## License
© 2025 GENiALABILE. All Rights Reserved.
A GPT-Based Project — Designed by seiseisette.
Repository: https://github.com/seiseisette/
This project is no longer available as open-source. Updated: 10 Jan 2025.
Use, distribution, or modification of this project is strictly prohibited
without prior written authorization.
-------------------------------------------------------------------------------

# Version: v2.1
# URL: https://genialabile.com/card.css
===============================================================================
*/

 /*---// STARTLINE & SAY HI //---*/ 
    /* <style> */ 

        .card {
            display: flex;
            align-items: center; 
            background-color: #00000000; 
            color: #ffffff; 
            padding: 0rem; 
            border-radius: 1px; 
            box-shadow: 0px 0px 0px #000000; 
            width: fit-content;
            max-width: 100%;
        }

        .card-image-container {
            flex-shrink: 0;
            margin-right: 1rem; 
        }

        .card-image {
            width: 60px; 
            height: 60px;
            max-width: 100%; 
            border-radius: 50%;
            object-fit: cover; 
        }

        .card-text {
            font-family: 'Inconsolata', monospace;
            font-size: 1rem;
            line-height: 1.5;
        }

        .card-text h5 {
            margin: 0 0 0.5rem 0;/
            font-size: 1.2rem;
            font-weight: bold;
        }

        .card-text p {
            margin: 0;
        }

   /* </style> */        
/*---// ENDLINE & SAY BYE //--- */