/*
===============================================================================
# Project: Gen-IA
# Website: Minimal welcome website
===============================================================================

## GENiALABILE
Advanced-GPT inspiring multidimensional solutions and unlocking creative potential.

-------------------------------------------------------------------------------
## License
© 2025 GENiALABILE. All Rights Reserved.
A GPT-Based Project — Designed by seiseisette.
Repository: https://github.com/seiseisette/
This project is no longer available as open-source. Updated: 10 Jan 2025.
Use, distribution, or modification of this project is strictly prohibited without prior written authorization.
-------------------------------------------------------------------------------

# Version: v3.0
# URL: https://genialabile.com/uni-style.css
===============================================================================
*/






/*---// STARTLINE & SAY HI //---*/
    :root {
        --background-color: #000000;
        --info-background: #000000;
        --info-text: #f4f4f4;
        --borders: #000000;
        --posts: #f4f4f4;
        --spacing: 2rem;
        --accent: #f4f4f4;
        --accent-font:'Roboto', sans-serif;
        --box-shadow: 0px 4px 8px #00000000;
        --font-size: 16px;
        --foot-margin: 1rem;
        --live-color: #00bbff;
        --static-color: #ffbbff;
    }

    .info {
        box-shadow: var(--box-shadow);
        background: var(--info-background);
        color: var(--info-text);
        border-radius: 0px; 
        padding: var(--spacing);
        width: 100%;
    }

    html, body {
        margin: 0;
        padding:  0;
        width: 100%;
        overflow-x: hidden;
        min-height: 100%;
        align-items: center;
    }

    body {
        background-color: var(--background-color);
        font-family: 'Inconsolata', sans-serif;
        font-size: var(--font-size);
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.3s ease-in-out;
    }

    body.visible {
        opacity: 1;
        visibility: visible;
    }

    main {
        width: 100%;
        max-width: 100%;
        color: var(--info-text);
        margin: 0 auto;
        padding: var(--spacing);
        padding-bottom: 5rem;
        overflow-x: hidden;
    }

    @media screen and (min-width: 1440px) {
        body, #typing-effect, #typing-container {
            font-size: 20px;
        }
    }

    @media screen and (min-width: 1024px) {
        body, #typing-effect, #typing-container  {
            font-size: 18px;
            padding: var(--spacing); 
            margin: 0; 
            padding-bottom: 5rem; 
        }
      /*  main, #typing-effect, #typing-container  {
            padding: var(--spacing); 
            margin: 0; 
            padding-bottom: 5rem;
        }
        */
    }

    @media screen and (max-width: 768px) {
        body, #typing-effect, #typing-container  {   
            font-size: 14px; 
        }
        #footer-banner {
            padding: 0rem;
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 480px) {
        bod, #typing-effect, #typing-container {
            font-size: 12px;
        }
        #footer-banner {
            padding: 0rem;
            font-size: 0.7rem;
        }
    }


    /* Effetto ADD 
    @media screen and (max-width: 768px) {
        #typing-effect, #typing-container {
            font-size: 1.2rem;
            line-height: 1.4;
        }
    }
    
    @media screen and (max-width: 480px) {
        #typing-effect, #typing-container {
            font-size: 1rem;
            line-height: 1.3;
        }
    }
      Effetto ADD */

    /*
    @media screen and (max-width: 768px) {
        #typing-effect {
            font-size: 1.2rem;
            line-height: 1.4;
        }
        #typing-container {
            padding: var(--spacing);
        }
    }
    

    @media screen and (max-width: 480px) {
        #typing-effect {
            font-size: 1rem;
            line-height: 1.3;
        }
    }
    */
   
    footer, #footer-banner {
        position: bottom;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--info-background);
        color: var(--info-text);
        text-align: center;
        font-family: var(--accent-font);
        font-size: 0.7rem;
        padding: 10px;
        margin: 0;
        align-items: center;
        z-index: 1000;
        overflow-x: hidden;
        box-shadow: 0 -2px 10px #24242424,
                    -10px 0 300px 50px #000000,
                    10px 0 300px 50px #000000,
                    0 10px 100px 70px #000000;

       
    }

    #footer-banner {
        transition: transform 0.5s ease-in-out;
        transform: translateY(100%);

        outline: 1px solid #000000;
       
        
       
        
    }


    #footer-banner #footer-content {
        padding: 10px;
        margin: 0;
        text-align: center;
                /* font-size: var(--font-size); */
        line-height: 1;
        transition: none;
    }

    #footer-banner.active {
        transform: translateY(0);
    }

    * {
        box-sizing: border-box;
    }

    section {
        margin-top: 3rem;
    }

    h1, h2{
        color: var(--accent);
        margin-bottom: 0.5rem;
        font-family: var(--accent-font);
    }

    h3 {
        color: var(--accent);
        margin-bottom: 0.3rem;
        font-family: var(--accent-font);
        font-weight: normal;
        font-size: 0.95rem;
    }

    ul {
        margin-left: 1rem;
    }

    p, #typing-effect, #typing-container {
        margin-bottom: 1rem;
    }

    p.txt-mini {
        font-size: 0.7rem;
    }

    a {
        text-decoration: none; 
        color: #ffffff;
        font-weight: bold; 
    }

    a:hover {
        color: #00ff00; 
        text-decoration: underline;
    }

    .important-p a {
        color: #00bbff; 
        text-decoration: none;
        font-weight: bold; 
    }

    .important-p a:hover {
        color: #00ff00; 
        text-decoration: underline; 
    }

    .imp-p a {
        color: #ffffff; 
        text-decoration: none;
        font-weight: normal; 
    }

    .imp-p a:hover {
        color: #00ff00; 
        text-decoration: underline; 
    }

    .imp-l a {
        color: #00bbff;
        text-decoration: none;
        font-weight: normal;
    }

    .imp-l a:hover {
        color: #00ff00; 
        text-decoration: underline; 
    }

     /*---// card //---*/ 

    .card {
        display: flex;
        align-items: center; 
        background-color: #00000000; 
        color: var(--info-text); 
        padding: 0rem; 
        border-radius: 1px; 
        box-shadow: 0px 0px 0px #000000; 
        width: fit-content;
        max-width: 100%;
    }

    .card-image-container {
        flex-shrink: 0;
        margin-right: 1rem; 
    }

    .card-image {
        width: 66px; 
        height: 66px;
        max-width: 100%; 
        border-radius: 50%;
        object-fit: cover; 
    }

    .card-text {
        font-family: var(--info-text);
        font-size: var(--font-size);
        /* line-height: 1.5; */
    }

    .card-text h5 {
        margin: 0 0 0.5rem 0;/
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-text p {
        margin: 0;
    }

        
    /*---// CARD //--- */




    /*
    #typing-container {
        width: 100%;
        margin: 0 auto;
        padding: var(--spacing);
    }
   

    #typing-effect {
        font-family: 'Inconsolata', monospace;
        font-size: var(--testo-size);
        color: var(--info-text);
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 1.6;
        display: inline;
    }

    #typing-effect::after {
        content: "*⌝";
        animation: blink 1s steps(1) infinite;
        font-size: 1.3rem;
        font-weight: normal;
        display: inline;
    }

    .no-cursor::after {
        content: "";
        animation: none;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
    */

    /* --- Typing Animation Effect --- */
    #live-title {
        margin-bottom: 0.5rem; /* Spaziatura specifica solo per questo titolo */
    }


    /* Nascondi inizialmente il testo del footer */
    .hidden-text #footer-text {
        visibility: hidden;
        opacity: 0;
        transition: opacity 3s ease-in-out;
    }

    /* Mostra il testo quando la classe è attivata */
    .show-text #footer-text {
        visibility: visible;
        opacity: 1;
    }

    #typing-container {
        width: 100%;
        margin: 0 auto;
        padding:-3rem ; 
        align-content: center;
        padding-top: -3rem;  
    }

    #typing-effect {

        margin: 0 auto;
        padding: var(--spacing);
        font-family: var(--accent-font);
        color: var(--info-text);
        padding-top: -3rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
        text-align: left; /* Uniforma l'allineamento */
         /* font-family: 'Inconsolata', monospace; */
       
         /* font-size: var(--testo-size); Dimensione base */
        /* color: var(--info-text);  Colore dal CSS master */
        white-space: pre-wrap; /* Mantiene gli spazi vuoti e le linee */
        word-wrap: break-word; /* Permette il wrapping del testo */
         /*  line-height: 1.6;Altezza della linea */
        display: inline; /* Assicura che il cursore resti accanto al testo */


    }

    #typing-effect::after {
        content: "*⌝"; /* *⌝ █ */
        animation: blink 1s steps(1) infinite;
        font-family: 'Inconsolata', monospace;
        font-size: 1rem;
        font-weight: normal;
        display: inline; /* Evita che il cursore vada a capo */
    }

    /* Nasconde il cursore */
    .no-cursor::after {
        content: "";
        animation: none;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

    /* Responsive Design 
    @media screen and (max-width: 768px) {
        #typing-effect {
            font-size: 1.2rem; /* Riduce la dimensione del testo per schermi più piccoli 
            line-height: 1.4; /* Regola l'altezza della linea 
        }
        #typing-container {
            padding: 1rem; /* Riduce il padding per schermi piccoli 
        }
    }

    @media screen and (max-width: 480px) {
        #typing-effect {
            font-size: 1rem; /* Testo ancora più piccolo per dispositivi molto piccoli
            line-height: 1.3;
        }
    }
    */



    /* Responsive adjustments 
    @media screen and (max-width: 768px) {
        #typing-container,
        #typing-effect {
            font-size: 14px; /* Adatta la dimensione del font per dispositivi piccoli 
            line-height: 1.4; /* Leggibilità migliorata 
        }
    }

    @media screen and (max-width: 480px) {
        #typing-container,
        #typing-effect {
            font-size: 12px; /* Adatta ulteriormente per schermi molto piccoli *
            line-height: 1.3;
        }
    }
    */

  




    footer .link-live,
    footer .link-static {
        display: none;
    }

    .link-live {
        display: inline-block;
        color: var(--live-color);
        font-weight: bold;
        animation: blink 3s infinite;
    }

    .link-static {
        display: inline-block;
        color: var(--static-color);
        font-weight: bold;
        animation: blink 6s infinite;
    }

    body.static-page .link-live {
        display: inline-block;
    }

    body.static-page .link-static {
        display: none;
    }

    body.live-page .link-live {
        display: none;
    }

    body.live-page .link-static {
        display: inline-block;
    }

    .thin-line {
        border: none;
        border-top: 1px solid #f4f4f480; /* Cambia colore a piacere */
        margin: 0.5rem 0; /* Spaziatura sopra e sotto */
        width: 100%; /* Larghezza personalizzata */
    }
    .thin-line-super {
        border: none;
        border-top: 1px solid #f4f4f450; /* Cambia colore a piacere */
        margin: -3rem -3rem; /* Spaziatura sopra e sotto */
        width: 100%; /* Larghezza personalizzata */
    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    .roboto-100 {
        font-family: var(--font-roboto);
        font-weight: 100;
    }

    .roboto-400 {
        font-family: var(--font-roboto);
        font-weight: 400;
    }

    .roboto-700 {
        font-family: var(--font-roboto);
        font-weight: 700;
    }

    .roboto-900 {
        font-family: var(--font-roboto);
        font-weight: 900;
    }

    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

    .inconsolata-200 {
        font-family: var(--font-inconsolata);
        font-weight: 200;
    }

    .inconsolata-400 {
        font-family: var(--font-inconsolata);
        font-weight: 400;
    }

    .inconsolata-700 {
        font-family: var(--font-inconsolata);
        font-weight: 700;
    }

    .inconsolata-900 {
        font-family: var(--font-inconsolata);
        font-weight: 900;
    }

/*-- ENDLINE & SAY BYE --*/