/*
===============================================================================
# Project: Gen-IA
# Website: Minimal welcome website
===============================================================================

## GENiALABILE
Advanced-GPT inspiring multidimensional solutions and unlocking creative potential.

-------------------------------------------------------------------------------
## License
© 2025 GENiALABILE. All Rights Reserved.
A GPT-Based Project — Designed by seiseisette.
Repository: https://github.com/seiseisette/
This project is no longer available as open-source. Updated: 10 Jan 2025.
Use, distribution, or modification of this project is strictly prohibited without prior written authorization.
-------------------------------------------------------------------------------

# Version: v3.2 (190125)  ! No changeLog for it !
# URL:  https://genialabile.com/assets/styles/other/card.css
===============================================================================
*\


/* --- Card --- */

.card {
display: flex;
align-items: center;
padding: 1rem;
background-color: rgba(0, 0, 0, 0.7);
color: var(--info-text); /* Ensure readability in cards */
box-shadow: var(--box-shadow);
}

.card-image {
border-radius: 50%;
width: 4rem;
height: 4rem;
object-fit: cover;
margin-right: 1rem;
}

.card-text {
font-family: var(--mtx-font);
font-size: 1rem;
}
