/*
===============================================================================
# Project: genialabile.com
# Website: Minimal welcome website
===============================================================================

## GENiALABILE
Advanced-GPTs inspiring multidimensional solutions and unlocking creative potential.

-------------------------------------------------------------------------------
### License
© 2025 Genialabile & Co. All Rights Reserved.
A GPT-Based Project — Designed by seiseisette.
Repository: https://github.com/seiseisette/
This project is no longer available as open-source. Updated: 10 Jan 2025.
Use, distribution, or modification of this project is strictly prohibited without prior written authorization.
-------------------------------------------------------------------------------

# Version: v3.5 (250125)
# URL: https://genialabile.com/assets/styles/gpt.css
===============================================================================
*/

.gpt-container {
    max-width: 100%; /*1200px; /* 800px; */
    margin: 0 auto;
    /* padding: var(--spacing); */
}

.gpts-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* background-color: var(--bg-color); */

    /* padding: 10px; */
    border-radius: 5px;

    /* transition: background-color 3s;*/
}

/*
.menu-title:hover {
     background-color: #242424;
}
*/

.gpts-title h3 {
    margin: 0;
}

.gpts-title .toggle-icon {
    font-size: 1.5rem; /* 20px; */
}

.toggle-icon:hover{
    color: var(--compiler1-color);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.gpts-content {
    display: none;
    padding: 15px;
    background-color: var(--info-bg);
    border: 1px solid #000;
    border-radius: 13px; /* 5px; */
    margin-top: 10px;
}

.menu-content .gpt-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-content .gpt-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-content .gpt-item span {
    font-size: 16px;
}
